<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title><![CDATA[ATOM Feed - {{{site.name}}}]]></title>
	<subtitle><![CDATA[{{{site.description}}}]]></subtitle>

	<link href="{{{site.url}}}atom.xml" rel="self"/>
	<link href="{{{site.url}}}"/>

	<updated>{{{updated}}}</updated>
	<id>{{{site.url}}}</id>

	<author>
		<name><![CDATA[{{site.author}}]]></name>
	</author>

	<generator uri="https://github.com/fcambus/motyl">Motyl</generator>

	{{#site.feed}}
	<entry>
	<title><![CDATA[{{{title}}}]]></title>
		<link href="{{{site.url}}}{{{url}}}"/>
		<id>{{{site.url}}}{{{url}}}</id>
		<published>{{datetime}}</published>
		<updated>{{datetime}}</updated>
		<content type="html"><![CDATA[{{{content}}}]]></content>
		<summary type="html">
			<![CDATA[{{description}}]]>
		</summary>

		{{#categoryDisplay}}
		<category term="{{category}}" scheme="{{{site.url}}}/categories/{{{url}}}"/>
		{{/categoryDisplay}}
	</entry>
	{{/site.feed}}
</feed>
