		<footer>
			<hr />
			Copyright (c) {{site.copyright}}, <a href="{{{site.url}}}">{{site.author}}</a>
			<div id="powered">Powered by <a href="https://www.cambus.net/motyl/">Motyl</a></div>
		</footer>
	</div>

	<script src="/scripts/prism.js"></script>
</body>
</html>
