		<footer>
			<hr />
			Copyright (c) {{site.copyright}}, <a href="{{{site.url}}}">{{site.author}}</a>
			<div id="powered">Powered by <a href="https://github.com/fcambus/motyl">Motyl</a></div>
		</footer>
	</div>
</body>
</html>
