{{> header}}
<h2>{{{page.title}}}</h2>
<time>{{page.date}}</time>
{{#page.categoryDisplay}}
	&middot; <a href="/categories/{{{url}}}">{{category}}</a>
{{/page.categoryDisplay}}
{{{page.content}}}
{{> footer}}
